<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto</title>
    <link rel="stylesheet" href="startpagestyle.css">
    <script src="script.js"></script>
</head>
<body>
<img src="logo2.png">
    <form action="/" method="post" id="box">
        <input type="email" name="email" placeholder="E-mail"><br><br>
        <input type="password" name="passwd" placeholder="Password" ><br><br>
        <input type="date" name="date"  id="date"><br><br>
        <input type="submit" value="Start" id="button">
    </form>
    <progress id="file" value="50" max="100"> 50% </progress>
</body>
</html>