#XD{
    border-top: 1px solid;
    text-align: center;
    width: 100%;
}
#XD tr:nth-child(2n+1){
    background-color: rgb(231, 224, 224);
    padding: 9px;
}
img{
    height: 100px;
    padding: 9px;
}
